@using Microsoft.AspNetCore.Identity;

@model IEnumerable<CatsProject.Data.Models.Cat>

@inject UserManager<IdentityUser> UserManager;

@{
	ViewData["Title"] = "Index";
}
@if (ViewBag.ErrorMessage != null)
{
	<div class="bg-danger">
		<h2 class="text-center text-white">@ViewBag.ErrorMessage</h2>
	</div>
}
<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

@if (User.IsInRole("Administrator"))
{
	<p>
		<a asp-action="Create">Create New as Admin</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Age)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ImageUrl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Breed)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Age)
				</td>
				<td>
					<img src="@Url.Content(item.ImageUrl)" alt="@item.Name" style="width:200px;height:200px" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Breed.Name)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
