@model Post
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Detail";
}

@{
    bool isSigned = SignInManager.IsSignedIn(User);
    bool isCreator = Model.UserId == UserManager.GetUserId(User);
}

<div>
    <partial name="~/Views/Shared/Partials/_ExceptionPartial.cshtml" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    <p>Image</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                @if (isSigned)
                {
                    <th>
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(p => p.Title)
                </td>
                <td>
                    <img class="img-responsive" src="@Url.Content(Model.ImageUrl)" alt="@Model.Title" style="width:200px;height:200px" />
                </td>
                <td>
                    @Html.DisplayFor(p => p.Description)
                </td>
                <td>
                    @Html.DisplayFor(p => p.Rating)
                </td>
                <td>
                    @Html.DisplayFor(p => p.User.Email)
                </td>
                @if (isSigned)
                {
                    <td>
                        @if (isCreator)
                        {
                            @*<a class="btn btn-success" asp-controller="Post" asp-action="Edit" asp-route-id="@(ViewContext.RouteData.Values["id"])">
                                Update</a>*@
                            <p>
                                <a class="btn btn-success" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">
                                    Update
                                </a>
                            </p>
                            <p>
                                <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">
                                    Delete
                                </a>
                            </p>
                        }
                        else
                        {
                            if (@ViewBag.HasVoted)
                            {
                                <p>
                                    <a class="btn btn-primary" asp-controller="Post" asp-action="Vote" asp-route-id="@Model.Id">
                                        Vote
                                    </a>
                                </p>
                            }
                            else
                            {
                                <p>
                                    <a>You have already voted for this.</a>
                                </p>
                            }
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
